<h1>Nurbrun's Blackmarket Rainforest Products</h1>

<%= link_to "New Product", "/products/new" %>

<% @products.each do |product| %>
  <p><%= product.name %>, <%= product.description %>, <%= product.formatted_price %></p>
  <%= link_to image_tag(product.name), "/products/#{product.id}" %>
<% end %>